torch==2.4.1
torchvision==0.19.1
numpy
pandas
scikit-learn
matplotlib
opencv-python
pillow
tqdm
requests
transformers
huggingface_hub
insightface
diffusers
accelerate
peft>=0.17.0
einops
lpips
scikit-image
gdown
onnxruntime-gpu ; platform_system=="Linux"
onnxruntime==1.19.2 ; platform_system!="Linux"
fvcore
iopath
PyYAML
omegaconf
# uniface[gpu] ; platform_system=="Linux"
# uniface[cpu] ; platform_system!="Linux"